@model Atomia.Store.AspNetMvc.Models.ProductListingViewModel

<h4>@Html.CommonResource("PackageName")</h4>
<p>@Html.CommonResource("PackageNameDescription")</p>
@using (Html.BeginForm("Label", "", FormMethod.Post, new { id = "LabelForm", data_bind = "submit: preventSubmit" }))
{
    @Html.FormRowFor(m => m.Label.Value, Html.CommonResource("PackageName") + ":", false, string.Empty, "value: selectedItemLabel")
}
<br class="clear">
