<script type="text/javascript">
    ko.components.register('custom-label', {
        template: { element: 'custom-label-tmpl' },
        viewModel: {
            createViewModel: function (params) {
                var viewModel = new Atomia.ViewModels.CustomLabelModel(params.cart, params.selectedItem);

                return viewModel;
            }
        }
    });
</script>

<script type="text/html" id="custom-label-tmpl">

    <div class="col2row">
        <label for="custom-label">
            <input type="text" data-bind="
                attr: {
                  id: uniqueId,
                  name: uniqueId
                },
                value: selectedItemLabel
            " />
        </label>
    </div>

</script>